<?xml version='1.0' encoding='utf-8'?>
<widget id="com.riskyjumper.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"  xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Risky Jumper</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <preference name="StatusBarBackgroundColor" value="#0195b7" />
<preference name="SplashScreenScale" value="centerCrop" />
    <icon src="res/icon/android/ldpi.png" density="ldpi" />
    <splash src="res/screen/android/screenldpi.png" density="ldpi" />
    <splash src="res/screen/android/screen-land.png" density="land-ldpi" />
</platform>
</widget>